{% liquid
  assign order = 'logo,menu,localization,search,mobile_search,actions'

  if shop.customer_accounts_enabled
    assign order = 'mobile_search,logo,menu,localization,search,actions'
  endif

  assign rows = 'top,bottom' | split: ','
  assign search_style = 'none'

  if section.settings.show_search
    assign search_style = 'modal'
  endif

  if section.settings.enable_transparent_header_home and template.name == 'index'
    assign transparent = 'always'
    assign transparent_color_scheme = section.settings.home_color_scheme
  elsif section.settings.enable_transparent_header_product and template.name == 'product'
    assign transparent = 'always'
    assign transparent_color_scheme = section.settings.product_color_scheme
  elsif section.settings.enable_transparent_header_collection and template.name == 'collection'
    assign transparent = 'always'
    assign transparent_color_scheme = section.settings.collection_color_scheme
  endif

  if section.settings.enable_sticky_header == 'always'
    assign sticky = 'always'
  elsif section.settings.enable_sticky_header == 'scroll-up'
    assign sticky = 'scroll-up'
  endif

  if transparent and sticky
    assign transparent = 'not-sticky'
  endif

  if transparent
    if transparent_color_scheme == 'inverse'
      assign transparent_color_scheme = 'color-' | append: section.settings.color_scheme_transparent
    else
      assign transparent_color_scheme = 'color-' | append: section.settings.color_scheme_top
    endif
  endif

  capture logo
    content_for 'block', type: '_header-logo', id: 'header-logo'
  endcapture

  capture menu
    content_for 'block', type: '_header-menu', id: 'header-menu'
  endcapture

  capture mobile_menu
    content_for 'block', type: '_header-menu', id: 'header-menu', variant: 'mobile'
  endcapture

  capture navigation_bar
    content_for 'block', type: '_header-menu', id: 'header-menu', variant: 'navigation_bar', transparent: transparent
  endcapture

  capture actions
    render 'header-actions'
  endcapture

  if shop.customer_accounts_enabled
    assign search_class = 'mobile:hidden'
  endif

  # Handle localization positioning [cite: 39]
  if section.settings.localization_position == 'left'
    if section.settings.search_position == 'left'
      if shop.customer_accounts_enabled
        assign order = 'mobile_search,logo,search,localization,menu,actions'
      else
        assign order = 'logo,search,localization,menu,mobile_search,actions'
      endif
    else
      if shop.customer_accounts_enabled
        assign order = 'mobile_search,logo,localization,menu,search,actions'
      else
        assign order = 'logo,localization,menu,search,mobile_search,actions'
      endif
    endif
  else
    if section.settings.search_position == 'left'
      if shop.customer_accounts_enabled
        assign order = 'mobile_search,logo,search,menu,localization,actions'
      else
        assign order = 'logo,search,menu,localization,mobile_search,actions'
      endif
    endif
  endif
  capture search
    render 'search', style: search_style, class: search_class
  endcapture

  # Skip mobile search under specific conditions [cite: 41]
  assign skip_mobile_search = false
  if shop.customer_accounts_enabled == false and section.settings.search_position == 'left' and search_style != 'none'
    assign skip_mobile_search = true
  endif

  if section.settings.search_row == 'bottom' or search_style != 'none' and skip_mobile_search == false
    capture mobile_search
      render 'search', class: 'desktop:hidden', style: search_style
    endcapture
  endif

  assign show_language = section.settings.show_language
  if localization.available_languages.size <= 1
    assign show_language = false
  endif

  assign show_country = section.settings.show_country
  if localization.available_countries.size <= 1
    assign show_country = false
  endif

  assign bottom_row_blocks = ''

  if section.settings.menu_row == 'bottom'
    assign bottom_row_blocks = bottom_row_blocks | append: 'menu,'
  endif

  if section.settings.search_style != 'none'
    if section.settings.search_row == 'bottom'
      assign bottom_row_blocks = bottom_row_blocks | append: 'search,'
    endif
  endif

  if section.settings.show_country or section.settings.show_language
    if section.settings.localization_row == 'bottom'
      assign bottom_row_blocks = bottom_row_blocks | append: 'localization,'
    endif
  endif

  assign bottom_row_blocks = bottom_row_blocks | split: ',' | compact

  if section.settings.section_height == 'compact'
    assign header_height_class = ' header--compact'
  endif

  if bottom_row_blocks.size > 0 and section.settings.color_scheme_top.settings.background.rgb == section.settings.color_scheme_bottom.settings.background.rgb and section.settings.divider_width == 0
    assign collapse_header_paddings_class = 'header--collapse-row-paddings'
  endif

  assign class = 'header'

  if transparent_color_scheme
    assign class = class | append: ' ' | append: transparent_color_scheme
  endif

  if section.settings.color_scheme_top.settings.background.alpha != 1
    assign class = class | append: ' ' | append: 'header--inherit-color-scheme-on-menu-open'
  endif

  if header_height_class
    assign class = class | append: ' ' | append: header_height_class
  endif

  if collapse_header_paddings_class
    assign class = class | append: ' ' | append: collapse_header_paddings_class
  endif
%}

{% capture localization_markup %}
  {% liquid
    assign localization_font = '--menu-localization-font: var(--font-[localization_font]--family); ' | replace: '[localization_font]', section.settings.localization_font
    assign localization_font_size = '--menu-localization-font-size: [localization_font_size]; ' | replace: '[localization_font_size]', section.settings.localization_font_size
    assign color_shadow = '--color-shadow: rgb(var(--color-foreground-rgb) / var(--opacity-10-25));'
    assign form_style = localization_font | append: localization_font_size | append: color_shadow
  %}
  {% if show_language and show_country == false %}
    <div class="dropdown-localization mobile:hidden">
      {% render 'localization-form',
        show_country: show_country,
        show_language: show_language,
        localization_style: 'dropdown',
        form_style: form_style,
        block_id: block.id
      %}
    </div>
  {% elsif show_country %}
    <dropdown-localization-component class="dropdown-localization mobile:hidden">
      <button
        type="button"
        class="button dropdown-localization__button localization-selector link link--text"
        aria-expanded="false"
        aria-controls="dropdown-localization-results"
        ref="button"
        style="{{ localization_font }} {{ localization_font_size }}"
      >
        {% if show_country %}
          {% if section.settings.country_selector_style == true %}
            {% liquid
              assign background_brightness = section.settings.color_scheme_top.settings.background | color_brightness
              if background_brightness < 64
                assign shadow_size = 4
              else
                assign shadow_size = 2
              endif
            %}
            <span
              class="icon-flag"
              style="background-image: url({{- localization.country | image_url: width: 32 }}); --size-shadow: {{ shadow_size }}px; --color-shadow: rgb(var(--color-foreground-rgb) / var(--opacity-30-60));"
            ></span>
          {% endif %}
          <span class="currency-code" data-testid="localization-currency-code">
            {{- localization.country.name -}}
          </span>
        {% endif %}
      </button>

      <div class="localization-wrapper {{ section.settings.localization_position }}-bound color-{{ settings.popover_color_scheme }}" hidden ref="panel">
        {% render 'localization-form',
          show_country: show_country,
          show_language: show_language,
          localization_style: 'dropdown',
          form_style: form_style,
          block_id: block.id
        %}
      </div>
    </dropdown-localization-component>
  {% endif %}
{% endcapture %}

<header-component
  id="header-component"
  class="{{ class }}"
  data-theme-color="rgb({{ section.settings.color_scheme_top.settings.background.rgb }})"
  {% if transparent %}transparent="{{ transparent }}"{% endif %}
  {% if sticky %}sticky="{{ sticky }}"{% endif %}
>
  {% for row in rows %}
    {% liquid
      assign scheme = 'color_scheme_' | append: row
      assign class = 'header__row header__row--[row] color-[row_scheme] section section--full-width-margin section--[section-width]' | replace: '[row]', row | replace: '[row_scheme]', section.settings[scheme] | replace: '[section-width]', section.settings.section_width

      if row == 'bottom'
        assign class = class | append: ' mobile:hidden'
      endif

      assign border_bottom_setting_id = 'border_width'
      if row == 'top' and bottom_row_blocks.size > 0
        assign border_bottom_setting_id = 'divider_width'
      endif
    %}

    {% capture content %}
      {% render 'header-row',
        row: row,
        order: order,
        settings: section.settings,
        first: first,
        logo: logo,
        menu: menu,
        actions: actions,
        localization: localization_markup,
        search: search,
        mobile_search: mobile_search
      %}
    {% endcapture %}

    {% if content != blank %}
      <div class="{{ class | strip }}" ref="headerRowTop" style="--border-bottom-width: {{ section.settings[border_bottom_setting_id] }}px;">
        <div class="header__columns spacing-style">
          {{ content }}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</header-component>

<script src="{{ 'header.js' | asset_url }}" type="module"></script>

{% schema %}
{
  "name": "t:names.header",
  "tag": "header",
  "class": "header-section",
  "settings": [
    {
      "type": "header",
      "content": "t:content.logo"
    },
    {
      "type": "select",
      "id": "logo_position",
      "label": "t:settings.position",
      "options": [
        { "value": "left", "label": "t:options.left" },
        { "value": "center", "label": "t:options.center" },
        { "value": "right", "label": "t:options.right" }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "t:content.menu"
    },
    {
      "type": "select",
      "id": "menu_row",
      "label": "t:settings.row",
      "options": [
        { "value": "top", "label": "t:options.top" },
        { "value": "bottom", "label": "t:options.bottom" }
      ],
      "default": "bottom"
    },
    {
      "type": "header",
      "content": "t:content.search"
    },
    {
      "type": "checkbox",
      "id": "show_search",
      "label": "t:settings.search_icon",
      "default": true
    },
    {
      "type": "select",
      "id": "search_position",
      "label": "t:settings.search_position",
      "options": [
        { "value": "left", "label": "t:options.left" },
        { "value": "right", "label": "t:options.right" }
      ],
      "default": "right"
    },
    {
      "type": "header",
      "content": "t:content.localization"
    },
    {
      "type": "checkbox",
      "id": "show_country",
      "label": "t:settings.country_region",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "country_selector_style",
      "label": "t:settings.flag",
      "default": true
    },
    {
      "type": "select",
      "id": "localization_position",
      "label": "t:settings.position",
      "options": [
        { "value": "left", "label": "t:options.left" },
        { "value": "right", "label": "t:options.right" }
      ],
      "default": "right"
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "select",
      "id": "section_height",
      "label": "t:settings.height",
      "options": [
        { "value": "compact", "label": "t:options.compact" },
        { "value": "standard", "label": "t:options.standard" }
      ],
      "default": "compact"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_top",
      "label": "t:settings.default",
      "default": "scheme-1"
    }
  ],
  "presets": []
}
{% endschema %}